.env
.DS_Store
node_modules
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.env
yarn-error.log

terraform/.terraform.lock.hcl
terraform/.terraform
terraform/terraform.tfstate*
terraform/id_rsa*
